* {
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}


#menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    background-color: rgba(149, 152, 154, 0.71);
    margin: 0;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 70px;
    justify-content: space-between;
}


#menu .logo {
    position: relative;
    height: 5vw;
    width: 15vw;
    top: -2vw;

}

.logo {
    flex-basis: 150px;
}

#menu a {
    font-size: 1.3rem;
    padding: 0 1rem 0 0;
    text-align: end;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}


#menu a:hover {
    color: #A3D399;
}

/*DROP DOWN HER*/



.dropdown:hover .dropdowncontent {
    display: block;
    background-color: rgba(149, 152, 154, 0.71);
}

.dropdown:hover .drop {
    background-color: rgba(149, 152, 154, 0.71);
}

drop {
    text-align: start;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdowncontent {
    display: none;
    position: absolute;

    z-index: 1;
    text-align: start;

}

.dropdowncontent a {
    display: block;
    padding: 12px 16px;
}

#splash {
    background-image: url(Ikoner/splashny.png);
    background-size: cover;
    height: 35vw;
    width: 100vw;
}

#knapper {
    width: 100%;
    position: absolute;
    padding: 25px;
    text-align: center;
    background-color: rgba(205, 217, 234, 0.51);
    height: 27vw;

}

#knapper p {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

/*
.streg1 {
    position: relative;
    height: 2vw;
    background-color: #6C6C6C;
}

.streg2 {
    position: relative;
    height: 2vw;
    background-color: #6C6C6C;
    top: 18vw;
}
*/

.knapse {
    height: 6.5vw;
    width: 35vw;
    position: relative;
    top: 3vw;
    left: 11vw;
    border: 0.15em solid #A3D399;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: white;
    color: black;
}

.knapse:hover {
    background-color: #A3D399;
    color: white;
}

.knapom:hover {
    background-color: #A3D399;
    color: white;
}

.knapom {
    height: 6.5vw;
    width: 35vw;
    top: -3.5vw;
    position: relative;
    left: 52vw;
    border: 0.15em solid #A3D399;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: white;
    color: black;
}

@media only screen and (max-width:890px) {
    header {
        width: 100%;
    }

    #menu {
        transform: scale(0);
        display: none;
        transform: translateX(-100%);
        opacity: 0;
    }

    #splash {
        height: 35vw;
    }

    #knapper {
        position: absolute;
    }

    .knapse p {
        padding: 0;
    }

    knapsesprite {
        top: -2vw;
    }
}

#burger {
    height: 178vw;
    width: 100%;
    background-color: #B2B3B3;
    padding: 50px;
    font-size: 2rem;
}

#menuknapluk {
    padding-left: 10vw;
    color: white;
}

.logob {
    height: 20vw;
    width: 40vw;
    background-image: url(Ikoner/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 22vw
}

#burgermenu a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1vw;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

#burgermenu {
    list-style: none;
    height: 80vw;
    padding-right: 6vw;
}

.hidden {
    transform: scale(0);
    display: none;
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    height: 20px;
    width: 20px;
    border: none;
    margin-left: 5vw;
    margin-top: 1vw;
}

nav {
    background-color: #F7F9FA;
    margin: 0;
}

/*
@media only screen and (max-width:890px) {
    header {
        width: 100%;
    }

    #menu {
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 65vw;
    }

    #menu a {
        text-align: start;
        border: none;
        justify-content: flex-start;
        font-size: 2rem;
        margin: 0.25rem 0;
        padding: 0.25rem 0;
        font-size: 1rem;
    }
}
*/

@media only screen and (min-width:890px) {
    #menuknap {
        transform: scale(0);
        display: none;
        transform: translateX(-100%);
        opacity: 0;
    }

    #burger {
        transform: scale(0);
        display: none;
        transform: translateX(-100%);
        opacity: 0;
    }

}



/*OM STARTER HER*/

#omcontainer {
    /*    Parent indstillinger*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.portrait {
    height: 47vw;
    background-image: url(Ikoner/student.jpg);
    background-repeat: no-repeat;
    flex-basis: 300px;
    flex-grow: 1;
    background-size: cover;
}

.col {
    padding: 25px;
    font-family: 'Playfair Display', serif;
    flex-basis: 580px;
    flex-grow: 4;
    padding-left: 70px;
    padding-top: 100px;
    padding-right: 70px;
    font-size: 1.2rem;
    line-height: 1.4;

}

#colom2 {
    background-color: #EDF2F8;
    height: 65vw;
    width: 100vw;
    text-align: center;
}

#colom2 h3 {
    padding-top: 5vw;
}

.col p h3 {

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}


.knap {
    background-image: url(Ikoner/knap.png);
    height: 5vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2vw;
}

#video {
    padding-bottom: 10vw;
    flex-basis: 100px;
    flex-grow: 2;
}

@media only screen and (max-width:890px) {
    .portrait {
        height: 60vw;
        width: 100%;
        background-size: cover;
        background-position: 10% 35%;
        margin-bottom: 10vw;
    }

    .knap {
        height: 16vw;
        width: 26vw;
        margin-top: 4vw;
    }

    #colom2 {
        background-color: white;
        font-size: 0.8rem;
    }

    #video {
        height: 10vw;
    }

}

/*PORTFOLIE STARTER HER*/


#tema1 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em
}

h3 {
    font-family: 'Raleway', sans-serif;
}

#tema1 {
    padding-top: 50px;
    padding-left: 95px;
    background-color: #DCE3E9;
}

#tema2 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 50px;
    padding-left: 95px;
    background-color: whitesmoke;

}

#tema22 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 50px;
    padding-left: 95px;
    background-color: #E4EDE5;

}

#tema3 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 50px;
    padding-left: 95px;
    background-color: #e6e7e8;

}

#tema32 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 50px;
    padding-left: 95px;
    background-color: #CFD3D2;
}

#tema4 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 50px;
    padding-left: 95px;
    background-color: #CDD9D9;
    padding-bottom: 10vw;

}

#tema42 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    padding-top: 50px;
    background-color: #DCE3E9;

}

#tema43 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 50px;
    background-color: #DCE3E9;
    height: 40vw;

}




.stilbillede {
    height: 35vw;
    width: 35vw;
    background-image: url(Ikoner/stilartsite.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4vw;
}

.billede2 {
    height: 35vw;
    width: 35vw;
    background-image: url(Ikoner/spilveggie.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4vw;
}

.billede3 {
    height: 35vw;
    width: 35vw;
    background-image: url(Ikoner/spilsex.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4vw;
}

.redesign {
    height: 35vw;
    width: 35vw;
    background-image: url(Ikoner/DAF.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4vw;
    margin-bottom: 5vw;
}


.dsbillede {
    height: 35vw;
    width: 30vw;
    background-image: url(Ikoner/fronterprototype.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4vw;
}

.protobillede {
    height: 20vw;
    width: 35vw;
    background-image: url(Ikoner/prototypefronter.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4vw;
}

.protobillede2 {
    height: 55vw;
    width: 45vw;
    background-image: url(Ikoner/web%20prototype.png);
    background-size: contain;
    margin-top: 4vw;
    background-repeat: no-repeat;
}

.protobillede3 {
    height: 55vw;
    width: 45vw;
    background-image: url(Ikoner/Lac.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4vw;
}



.col1 {
    flex-basis: 200px;
    flex-grow: 1;
}

.col2 {
    height: 10vw;
    width: 50vw;
    padding-top: 18vw;
    padding-left: 10vw;
    flex-basis: 200px;
    flex-grow: 2;
}

.col3 {
    flex-basis: 200px;
    flex-grow: 1;
}

.col4 {
    height: 10vw;
    width: 50vw;
    padding-top: 17vw;
    padding-left: 10vw;
    flex-basis: 200px;
    flex-grow: 2;
}

.col5 {
    height: 10vw;
    width: 50vw;
    padding-top: 24vw;
    padding-left: 10vw;
    flex-basis: 200px;
    flex-grow: 2;
}

.col6 {
    height: 100vw;
    width: 50vw;
    padding-top: 15px;
    flex-basis: 200px;
    flex-grow: 2;
}

.col8 {
    height: 50vw;
    width: 50vw;
    padding-top: 15px;
    flex-basis: 200px;
    flex-grow: 2;
}

.col9 {
    padding-left: 90px;
    width: 50vw;
}

.col7 {
    padding-left: 40px;
}

.col8 {
    padding-left: 3vw;
}

.col10 {
    padding-left: 7.3vw;
    padding-top: 2vw;
}

.col10 p {
    padding-left: 1vw;
}


.webcon {
    flex-basis: 100px;
    flex-grow: 1;
}

.nativecon {
    flex-basis: 100px;
    flex-grow: 1;
}

.knap1 {
    width: 26vw;
    height: 5vw;
    background-color: #A3D399;
    border-radius: 0.8rem;
    color: white;
    text-align: center;
    margin-bottom: 1.8vw;
    padding: 10px;
}

.knap2 {
    width: 26vw;
    height: 5vw;
    background-color: #A3D399;
    border-radius: 0.8rem;
    color: white;
    text-align: center;
    padding: 10px;
}

.knap3 {
    width: 26vw;
    height: 5vw;
    background-color: #A3D399;
    border-radius: 0.8rem;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 2vw;
}

.knap4 {
    width: 26vw;
    height: 5vw;
    background-color: #A3D399;
    border-radius: 0.8rem;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 2vw;
}

.knapredesign {
    width: 26vw;
    height: 5vw;
    background-color: #A3D399;
    border-radius: 0.8rem;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 2vw;
}


@media only screen and (max-width:890px) {
    #tema1 {
        flex-direction: column;
    }

    #tema2 {
        flex-direction: column;
    }

    #tema22 {
        flex-direction: column;
    }

    #tema3 {
        flex-direction: column;
    }

    #tema4 {
        flex-direction: column;
    }

    #tema42 {
        flex-direction: column;
    }

    #tema32 {
        padding-bottom: 10vw;
    }

    #tema42 {
        flex-direction: column;
    }

    .nativecon {
        padding-left: 9vw;
        padding-top: 20vw;
    }


    .col2 {
        padding: 0;
        ;
        font-size: 0.85em;
        margin-top: -5vw
    }

    .col3 {
        padding-top: 10px;
        ;
        margin-top: -5vw;
        font-size: 0.85em;
    }

    .col4 {
        padding: 0;
        ;
        font-size: 0.85em;
        margin-top: -5vw
    }

    .col5 {
        padding: 0;
        ;
        font-size: 0.85em;
        margin-top: 5vw;
    }

    .col6 {
        padding: 0;
        ;
        font-size: 0.9em;
        margin-top: 5vw;
    }

    .col8 {
        padding: 0;
        ;
        font-size: 0.85em;
        margin-top: 5vw;
        padding-left: 7vw;
    }

    .col10 {
        padding: 0;
        ;
        font-size: 0.85em;
        margin-top: 5vw;
        margin-left: 16vw;
    }


    .knap2 {
        height: 7vw;
        width: 29vw;
        font-size: 0.85em;
    }

    .knap1 {
        height: 7vw;
        width: 29vw;
        font-size: 0.85em;
    }

    .knap3 {
        height: 7vw;
        width: 29vw;
        font-size: 0.85em;
    }

    .knap4 {
        height: 7vw;
        width: 29vw;
        font-size: 0.85em;
    }

    .knapredesign {
        height: 7vw;
        width: 29vw;
        font-size: 0.85em;
    }

    .stilbillede {
        height: 50vw;
        width: 70vw
    }

    .billede2 {
        height: 50vw;
        width: 70vw
    }

    .billede3 {
        height: 50vw;
        width: 70vw
    }

    .video {
        height: 40vw;
        width: 60vw
    }

    .dsbillede {
        height: 50vw;
        width: 70vw
    }

    .redesign {
        height: 50vw;
        width: 70vw
    }

}

/*DOKUMENTATION RESPONSIVE SITE*/

.overskrift {
    padding: 35px;
    padding-left: 70px;
    padding-bottom: 100px;
}

.styletyle {
    height: 60vw;
    background-image: url(Ikoner/styletile.png);
    background-size: contain;
}

.moodboard {
    height: 60vw;
    background-image: url(Ikoner/moodboard1.png);
    background-size: contain;
}

.moodboard2 {
    height: 75vw;
    background-image: url(Ikoner/moodboard2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.overskriftveg {
    padding: 35px;
    padding-left: 70px;
    padding-bottom: 50px;
    padding-top: 6vw;
    margin-left: 4vw
}

.omspillet {
    line-height: 1.5em;
    margin-left: 10vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
}

.inspi h3 {
    padding: 60px;
    padding-right: 250px;
    line-height: 1.5em;
    margin-left: 5vw
}

.stil {
    margin-left: 8vw;
}

.formgivning {
    line-height: 1.5em;
    margin-left: 10vw
}

.aktivitet {
    height: 50vw;
    width: 40vw;
    background-image: url(Ikoner/aktivitet.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 9vw;
}

.skitser {
    height: 25vw;
    width: 40vw;
    background-image: url(Ikoner/skitser.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 9vw;
}

.assetliste {
    padding: 60px;
    line-height: 1.5em;
    margin-left: 5vw
}

.overskriftds {
    padding-bottom: 50px;
    padding-top: 6vw;
}

#dscontainer,
h4 {

    line-height: 1.5em;
    padding-top: 0;
    line-height: 1.5em;
    padding-top: 0;
}

#dscontainer p {
    line-height: 1.5em;
    margin-bottom: 5vw;
}

#dscontainer {
    padding-left: 5vw;
    padding-right: 5vw;
}




.longterm {
    height: 20vw;
    width: 40vw;
    background-image: url(Ikoner/sitemap.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 11vw;
    margin-bottom: 5vw;
}

.map {
    height: 20vw;
    width: 40vw;
    background-image: url(Ikoner/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 11vw;
    margin-bottom: 5vw;
    margin-top: 3vw;
}

.inter {
    padding-top: 20px;
}

.col6 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    padding-bottom: 1vw;
}

/*NATIVE APP DOKUMENTATION*/

#doknativecontainer,
h4 {

    line-height: 1.5em;
    padding-top: 0;
    line-height: 1.5em;
    padding-top: 0;
}

#doknativecontainer p {
    line-height: 1.5em;
    margin-bottom: 5vw;
}

#doknativecontainer {
    padding-left: 5vw;
    padding-right: 5vw;
}

.overskrift2 {
    padding-bottom: 100px;
    padding-top: 5vw;
}

.teamcanvas {
    height: 50vw;
    width: 60vw;
    background-image: url(Ikoner/teamcanvas.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
    padding-top: 2vw;
}

.survey1 {
    height: 90vw;
    width: 80vw;
    background-image: url(Ikoner/survey1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.survey2 {
    height: 20vw;
    width: 40vw;
    background-image: url(Ikoner/survey2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.sprintq {
    height: 30vw;
    width: 40vw;
    background-image: url(Ikoner/sprintq.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.map1 {
    height: 30vw;
    width: 39vw;
    background-image: url(Ikoner/map1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.lightd1 {
    height: 30vw;
    width: 40vw;
    background-image: url(Ikoner/lightd1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.lightd2 {
    height: 40vw;
    width: 37vw;
    background-image: url(Ikoner/lightd2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.sketch1 {
    height: 40vw;
    width: 37vw;
    background-image: url(Ikoner/sketches1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.sketch2 {
    height: 40vw;
    width: 37vw;
    background-image: url(Ikoner/sketches2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.solution1 {
    height: 40vw;
    width: 37vw;
    background-image: url(Ikoner/solution.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.storyboard1 {
    height: 40vw;
    width: 37vw;
    background-image: url(Ikoner/storyboard1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.storyboard2 {
    height: 40vw;
    width: 37vw;
    background-image: url(Ikoner/storyboard2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.storyboard3 {
    height: 40vw;
    width: 37vw;
    background-image: url(Ikoner/storyboard3.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.storyboard4 {
    height: 40vw;
    width: 37vw;
    background-image: url(Ikoner/storyboard4.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

#redesigncon p {
    line-height: 1.5em;
    margin-bottom: 5vw;
}

#redesigncon {
    padding-left: 5vw;
    padding-right: 5vw;
}

#dokcontainer p {
    line-height: 1.5em;
    margin-bottom: 5vw;
    padding: 25px;
}

.overskriftres {
    padding: 25px;
}

#dokcontainer {
    padding-left: 10vw;
    margin-right: 10vw;
    padding-top: 5vw;
    margin-right: 10vw;
}



#dokcontainerveg,
h4 {

    line-height: 1.5em;
    padding-top: 0;
    line-height: 1.5em;
    padding-top: 0;
}

#dokcontainerveg {
    padding-right: 25vw;
}



.tekst {
    margin-left: 10vw;
}
